<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Cart</strong></div>
    </div>
  </div>
</div>

<div class="site-section" *ngIf="cart$ | async as cart; else emptyCart">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart.cartItems">
                <td class="product-thumbnail">
                  <img src="{{ item.product.image_url }}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{ item.product.name }}</h2>
                </td>
                <td>{{ item.product.price | currency:'USD':"symbol" }}</td>
                <td>
                    <app-quantity-selector [product]="item.product" [shopping-cart]="cart"></app-quantity-selector>
                </td>
                <td>{{ item.totalPrice | currency:'USD':"symbol" }}</td>
                <td><button (click)="removeCartItem(item.key)" class="btn btn-primary btn-sm">X</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
              <a routerLink="/shop" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">{{ cart.totalPrice | currency:'USD':"symbol" }}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-primary btn-lg py-3 btn-block" routerLink="/checkout">Proceed
                  To Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <p>Your cart is empty.</p>
              <a routerLink="/shop" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>