<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-3 col-lg-3">
              <h3 class="footer-heading mb-4">Navigations</h3>
            <ul class="list-unstyled">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/shop">Shop</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-3">
              <h3 class="footer-heading mb-4">Useful Links</h3>
            <ul class="list-unstyled">
                <li><a [routerLink]="['/pages','terms-conditions']">Terms & Conditions</a></li>
                <li><a [routerLink]="['/pages','privacy-policy']">Privacy Policy</a></li>
                <li><a [routerLink]="['/pages','delivery-returns']">Delivery & Returns</a></li>
                <li><a [routerLink]="['/pages','faqs']">FAQs</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="block-7">
              <form action="#" method="post">
                  <h3 class="footer-heading mb-4">Subscribe</h3>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
             <li class="address">3/242, Malviya Nagra, Jaipur, Rajasthan, INDIA</li>
            <li class="phone"><a href="tel://919636305771">+91 9636305771</a></li>
            <li class="email">info@ecommerceapp.com</li>
          </ul>
        </div>

        
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
      
    </div>
  </div>
</footer>