<header class="site-navbar" role="banner">
  <div class="site-navbar-top">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
          <form action="" class="site-block-top-search">
            <span class="icon icon-search2"></span>
            <input type="text" class="form-control border-0" placeholder="Search">
          </form>
        </div>

        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
          <div class="site-logo">
            <a routerLink="/" class="js-logo-clone">Shoppers</a>
          </div>
        </div>

        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
          <div class="site-top-icons">
            <ul>
              <li *ngIf="!(user$ | async)"><a routerLink="/login"><span class="icon icon-person"></span></a></li>
              <li>
                <a routerLink="/cart" class="site-cart">
                  <span class="icon icon-shopping_cart"></span>
                  <span class="count" *ngIf="cart$ | async as cart">{{ cart.totalItemsCount }}</span>
                </a>
              </li>
              <li class="d-inline-block d-md-none ml-md-0"><a href="javascript:;"
                  class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
        <li routerLinkActive="active"><a routerLink="/shop">Shop</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
        <li *ngIf="appUser$ | async as user" class="has-children">
          <a href="javascript:;">My Account</a>
          <ul class="dropdown">
              <li *ngIf="user.isAdmin"><a routerLink="/manage-products">Manage Products</a></li>
              <li *ngIf="user.isAdmin"><a routerLink="/product-form">Product Form</a></li>
              <li><a routerLink="/my-orders">My Orders</a></li>
               <li *ngIf="user.isAdmin"><a routerLink="/manage-users">Manage Users</a></li>
            <li><a href="javascript:;" (click)="logout()">Logout</a></li>
          </ul>
        </li>
    </ul>
  </div>
</nav>
</header>
